#navbar{
    position: relative;
    max-width: 100%;
    Height: 50px;
    border: 0px solid black;
    padding: 2px;
    background-color: aliceblue;
    /* display: flex; */
    /* justify-content:right; */

    
}

#home{
        background-color: beige;
        display: inline-block;
        position: relative;
        top:0%;
        padding: 0px 10px;
        height: 100%;

        
    }
    
    #favorites{
        background-color: beige;
        display: inline-block;
        position: relative;
        top:0%;
        padding: 0px 10px;
        height: 100%;
        
    }

   
    @media (max-width:400px){

#navbar{
    text-align: center;
}

#home{
    background-color: aliceblue;

}

#favorites{

    background-color: aliceblue;
}
        
    
      }
    

